@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-weight: 300;padding-left: 5px;margin-bottom: 0px;font-size:18px;">
        <li class="breadcrumb-item"><a asp-action="Address" asp-controller="Home">Buscar CEP</a></li>
    </ol>
</nav>